<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mummy_Walk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{187,306}</string>
                <key>spriteSourceSize</key>
                <string>{187,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_Walk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{169,306}</string>
                <key>spriteSourceSize</key>
                <string>{187,308}</string>
                <key>textureRect</key>
                <string>{{158,617},{169,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_Walk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{143,306}</string>
                <key>spriteSourceSize</key>
                <string>{187,308}</string>
                <key>textureRect</key>
                <string>{{339,309},{143,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_Walk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{143,306}</string>
                <key>spriteSourceSize</key>
                <string>{187,308}</string>
                <key>textureRect</key>
                <string>{{329,617},{143,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_Walk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{159,306}</string>
                <key>spriteSourceSize</key>
                <string>{187,308}</string>
                <key>textureRect</key>
                <string>{{178,309},{159,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_Walk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{155,308}</string>
                <key>spriteSourceSize</key>
                <string>{187,308}</string>
                <key>textureRect</key>
                <string>{{1,617},{155,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_Walk_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{179,306}</string>
                <key>spriteSourceSize</key>
                <string>{187,308}</string>
                <key>textureRect</key>
                <string>{{190,1},{179,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mummy_Walk_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0}</string>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{175,306}</string>
                <key>spriteSourceSize</key>
                <string>{187,308}</string>
                <key>textureRect</key>
                <string>{{1,309},{175,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mymmy/Mummy.png</string>
            <key>size</key>
            <string>{483,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6291f5dcb3b07a7235ce0262ee34a0e:827bb106f7d4652efbac6d9c74e256b2:b5b4df7aafe0f0aa0b6d011bcedbf49d$</string>
            <key>textureFileName</key>
            <string>Mymmy/Mummy.png</string>
        </dict>
    </dict>
</plist>
