<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{147,270}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{156,277},{147,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-30}</string>
                <key>spriteSize</key>
                <string>{137,220}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{852,1},{137,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-26}</string>
                <key>spriteSize</key>
                <string>{131,230}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{132,551},{131,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{127,254}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{265,549},{127,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-9}</string>
                <key>spriteSize</key>
                <string>{125,264}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{725,1},{125,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{135,266}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{671,269},{135,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{143,266}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{571,537},{143,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-11}</string>
                <key>spriteSize</key>
                <string>{129,262}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{716,537},{129,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{129,242}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{1,551},{129,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,5}</string>
                <key>spriteSize</key>
                <string>{181,274}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jump_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,6}</string>
                <key>spriteSize</key>
                <string>{153,272}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{1,277},{153,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{209,266}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{184,1},{209,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-12}</string>
                <key>spriteSize</key>
                <string>{143,258}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{847,529},{143,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-8}</string>
                <key>spriteSize</key>
                <string>{149,266}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{574,1},{149,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{157,266}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{512,269},{157,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{205,266}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{305,269},{205,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-11}</string>
                <key>spriteSize</key>
                <string>{145,260}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{847,267},{145,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{175,266}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{394,537},{175,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{177,266}</string>
                <key>spriteSourceSize</key>
                <string>{209,284}</string>
                <key>textureRect</key>
                <string>{{395,1},{177,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainCharacter/MainCharacter.png</string>
            <key>size</key>
            <string>{993,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4ef1abb3ccd0ec7e1775f0f3a87851:6c22ef00eb6f7389a54a6b1370ee41c6:b7cbc05592016f4a3c1603d50b9f735b$</string>
            <key>textureFileName</key>
            <string>MainCharacter/MainCharacter.png</string>
        </dict>
    </dict>
</plist>
